
.disclaimer {
	background-color: #E2E8EA;
	color: #495F6D;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 13px;
	line-height:16px;
	padding-top:20px;
	text-align:	justify;

	span {
		font-weight: 900;
	}
}

.footer {
  background-color: #E2E8EA;
  padding-top: 39px;
  text-align: center;
  color: #75BFE0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
   a {
	   	color: #75BFE0;
	   	font-weight: 700;
	   	letter-spacing: 0.05em;
   }
   .copyright {
   		margin-top:8px;
   		font-size:11px;
   }
   .copyright a {
	   	font-weight: 200;
	   	letter-spacing: initial;
   }

}