@-moz-document url-prefix() { 
 section#slide2 .form_main .input_area .zip_position {
	top: 5px;
	left: 342px;
 }
 section#slide1 .form_main .step .zip_position {
    position: absolute;
    top: 25px;
    left: 380px;
 }
}