section#loader {
    left: -50%;
    margin-left: 225px;

	h2, h3 {
		text-align:center;
		font-weight:300;
		color:white;
	}
	h2 {
		font-size:40px;	
	    line-height: 28px;		
	}
	h3 {
		padding-left:40px;
		padding-right:20px;
	    font-size: 36px;
	    line-height: 28px;
	    font-weight: 300;
	    text-align: center;
	}
	  

	.loader_img {
		text-align: center; 
		padding-bottom:171px;
		margin-top:75px;
		img {
			position: relative;
		}		
	}
}