//slide2.scss

@import 'slide';

section#slide2 {
	
	.form_main {
		.box {
			height:307px;
		}
		.step {
			.calculate {
				padding-left: 100px;
    			padding-top: 10px;
			}
		}

		.input_area {
			position:relative;
			margin-bottom:10px;

			input {
				left:29px;
			}
			select {
				-webkit-appearance:none;
			    background-color: white;
			    padding: 20px;
			    margin-left: 37px;
			    font-size:18px;
			    width: 223px;
			    border:3px solid transparent;
			    outline:none;
			}


			.zip_position {
				position: absolute;
			    top: 6px;
			    left: 351px;
			}

			#to_zip {

			}

			#move_date {
				left:35px;
			}

			#move_size {
				left:39px;
			}

		}
	}
	.trusted_partners {
		padding-top:310px;
	}

	.country_map {
		background: url("../images/spritesheet1-comprs.png");
		height: 254px;
		width: 432px;
		position: relative;
		left: 513px;
		top: 30px;
		background-position: 448px 595px;
	}

}