//slide3.scss

@import 'slide';

section#slide3 {
	h2, h3 {
		font-weight:300;
		color:white;
	}
	h2 {
		font-size:42px;	
		margin-bottom: 15px;
	}
	h3 {
	    padding-left: 80px;
	    padding-right: 80px;
	    position: relative;
	    left: 10px;
	    font-size: 18px;
	    line-height: 20px;
	    font-weight: 500;
	    text-align: center;
	    margin-bottom: 32px;
	}
	.form_main {
		.box {
			height:287px;
			width: 420px;
		}
		.step {
			padding: 22px 35px;
			.submit {
			  font-size: 22px;
			}

			.calculate {
				padding-left: 67px;
    			padding-top: 13px;
			}


			.input_area {
				margin-bottom:10px;
				input {
					left:44px;
					width:177px;
					padding: 7px 24px;
				}
				.name {
					width: 58px;
				}
				.name.space {
					margin-right:2px;
				}
				#first_name {

				}
				#last_name {

				}
				#email {
					left:36px;
				}
				#phone {
					left:30px;
				}
			}
		}
	}

	.trusted_partners {
		padding-top:0px;
		padding-right:154px;
		float:right;

		div {
			margin-top:15px;
		}
	}
}
