//Thank You

section#thankyou {
	width:950px;
    color: #A9D2EA;
	h2, h3 {
		font-weight:300;
		color:white;
	}
	h2 {
		font-size:42px;	
		margin-bottom: 15px;
		text-align: center;
	}
	h3 {
	    padding-left: 80px;
	    padding-right: 80px;
	    position: relative;
	    left: 10px;
	    font-size: 18px;
	    line-height: 20px;
	    font-weight: 500;
	    text-align: center;
	    margin-bottom: 32px;
	}
	.quote-range {
		padding:36px 20px;
		text-align: center;
		background-color: #96CBE7;
		border-radius: 8px;
		margin-bottom:15px;
		color: #4C6E9E;
		font-size: 24px;
		span {
			color: #003D93;
			font-weight:600;
		}

	}
	.etcetera {
		margin-bottom: 40px;
		font-size: 13px;
	}
	.sitback {
		margin-bottom:192px;
		h4 {
			position: relative;
			top:10px;
			left:8px;
			font-weight: 600;
		}
		p {
			font-size: 13px;
		    line-height: 14px;
    		text-align: justify;
		}
	}
	.nostress {
		width:40%;
		.nostress-dude {
			background:url('../images/spritesheet1a-comprs.png');
			height: 45px;
			width: 36px;
			background-position: -260px 0px;
		}
	}
	.onway {
		width:50%;
		h4 {
			left:0px;
		}
		.onway-cell {
			background:url('../images/spritesheet1a-comprs.png');
			height: 45px;
			width: 41px;
			background-position: -313px 0px;
		}
	}
}