//zipfinder scss

.zipfinder {
	height: 214px;
    width: 260px;
    border: 1px solid white;
    box-shadow: 1px 1px 10px #999; 
    background-color: #999;
    position: absolute;
    z-index: 10;
    top: -75px; /* default */
    right: -105px; /* default */
    display:none;

}