<section id="slide1">
  <div class="form_main left">
    <h1>Moving Price Calculator</h1>
    <h2>Rates as low as $999</h2>
    <form name="register_form" ng-validate="validationOptions">
      <input type="hidden" id="source" name="source" value="<?=$this->url()?>"/>
      <div class="box basic"></div>
       <div class="step">
          <label>Where are you moving from?</label>
          <input type='tel' id="from_zip" name="from_zip" placeholder="From ZIP" ng-model="formData.from_zip" mask="99999" required/>
          <button type="button" class="ziphelp_btn zip_position">ZIP Help</button>
          <ziphelp></ziphelp>
          <div class="calculate">
          <!--   <input type="submit" class="submit" value="Calculate"> -->
           <button type="submit" class="submit">Calculate</button>

          </div>
        </div>
    </form>
    <div class="trusted_partners">
      <a><div ng-click="toggle()" class="sprite infoImg"></div></a>
      <a><div class="sprite bbbImg"></div></a>
      <a><div class="sprite nortonImg"></div></a>
      <a><div class="sprite lockImg"></div></a>
      <div class="privacy_policy"><a ng-click="open('http://www.budgetvanlines.com/info/privacy-policy')">Privacy Policy</a> | <a ng-click="open('http://www.budgetvanlines.com/info/terms-of-use')">Terms of Use</a></div>
    </div>
  </div>

  <div class="moving_people"></div>
</section>
