<section id="slide3">
 <h2>Next our system will display your ballpark estimate</h2>
 <h3>Please complete this final step accurately.  Movers will contact you by phone or email with their quotes and our system will also display your ballpark estimate.</h3>
  <div class="form_main left">

      <form ng-validate="validationOptions">
      <div class="box basic"></div>
       <div class="step">
         <div class="input_area">
            <label>Full Name</label>
            <input name="first_name" id="first_name" class="name space" type='tel' placeholder="First" ng-model="formData.first_name"/>
            <input name="last_name" id="last_name" class="name" type='tel' placeholder="Last" ng-model="formData.last_name" />
          </div>

          <div class="input_area">
            <label>Valid Email</label>
            <input name="email" id="email" type='tel' placeholder="Your email address" ng-model="formData.email" />
          </div>
          <div class="input_area">
            <label>Valid Phone</label>
            <input name="phone" mask="(999) 999-9999" id="phone" type='tel' placeholder="(  )  -    " ng-model="formData.phone"/>
          </div>

          <div class="calculate">
            <button class="submit">Get My Quote</button>
          </div>
        </div>
    </form>
    
  </div>

  <googlemap></googlemap>
  <div class="trusted_partners">
      <a href="#"><div class="sprite bbbImg"></div></a>
      <a href="#"><div class="sprite nortonImg"></div></a>
      <a href="#"><div class="sprite lockImg"></div>
      <div class="privacy_policy"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></div>
    </div>

</section>

