<section id="slide2">
  <div class="form_main left">
      <form>
      <div class="box basic"></div>
       <div class="step">
         <div class="input_area">
            <label>Where are you moving to?</label>
            <input id="to_zip" type='tel' placeholder="ZIP Code" />
            <button class="ziphelp_btn zip_position">ZIP Help</button>
          </div>

          <div class="input_area">
            <label>When is your move date?</label>
            <input id="move_date" type='tel' placeholder="ZIP Code" />
            <button class="ziphelp_btn zip_position">ZIP Help</button>
          </div>
          <div class="input_area">
            <label>How large is your move?</label>
            <input id="move_size" type='tel' placeholder="ZIP Code" />
            <button class="ziphelp_btn zip_position">ZIP Help</button>
          </div>

          <div class="calculate">
            <button ng-click="next('step3')" class="submit">Calculate</button>
          </div>
        </div>
    </form>
    <div class="trusted_partners">
      <a href="#"><div class="sprite infoImg"></div></a>
      <a href="#"><div class="sprite bbbImg"></div></a>
      <a href="#"><div class="sprite nortonImg"></div></a>
      <a href="#"><div class="sprite lockImg"></div>
      <div class="privacy_policy"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></div>
    </div>
  </div>

  <div class="country_map"></div>
</section>
