<section id="slide2">
  <div class="form_main left">
      <form ng-validate="validationOptions">
      <div class="box basic"></div>
       <div class="step">
         <div class="input_area">
            <label>Where are you moving to?</label>
            <input name="to_zip" id="to_zip" type='tel' placeholder="ZIP Code" ng-model="formData.toZip" mask="99999" autocomplete="off"/>
            <button class="ziphelp_btn zip_position">ZIP Help</button>
            <ziphelp></ziphelp>
          </div>

          <div class="input_area">
            <label>When is your move date?</label>
            <input name="move_date" id="move_date" type="text" placeholder="Move Date" ng-model="formData.moveDate" jqdatepicker autocomplete="off"/>
            <button class="ziphelp_btn zip_position" ng-click="calHelp($event)">Calendar</button>
          </div>
          <div class="input_area">
            <label>How large is your move?</label>
            <select name="move_size" id="move_size" ng-model="formData.moveSize">
                <option selected value="" style="color: #BFDAE6;" disabled>Select a Size</option>
                <option value="Studio">Studio</option>
                <option value="1 Bedroom">1 Bedroom</option>
                <option value="2 Bedrooms">2 Bedrooms</option>
                <option value="3 Bedrooms">3 Bedrooms</option>
                <option value="4 Bedrooms">4 Bedrooms</option>
                <option value="5 Bedrooms">5 Bedrooms</option>
                <option value="6 Bedrooms">6 Bedrooms</option>
                <option value="Commercial Move">Commercial Move</option> 
            </select>
<!--             <input name="move_size" id="move_size" type='tel' placeholder="Move Size" autocomplete="off"/> -->
          </div>

          <div class="calculate">
            <button type="submit" class="submit">Calculate</button>
          </div>
        </div>
    </form>
    <div class="trusted_partners">
      <a href="#"><div class="sprite infoImg"></div></a>
      <a href="#"><div class="sprite bbbImg"></div></a>
      <a href="#"><div class="sprite nortonImg"></div></a>
      <a href="#"><div class="sprite lockImg"></div>
      <div class="privacy_policy"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></div>
    </div>
  </div>

  <div class="country_map"></div>

  <div>
    <pre>{{ formData | json }}</pre>
  </div>
</section>
