<section id="slide2">
  <div class="form_main left">
      <form ng-validate="validationOptions">
      <div class="box basic"></div>
       <div class="step">
         <div class="input_area">
            <label>Where are you moving to?</label>
            <input name="to_zip" id="to_zip" type='tel' placeholder="ZIP Code" />
            <button class="ziphelp_btn zip_position" ng-click="zipHelp($event)">ZIP Help</button>
          </div>

          <div class="input_area">
            <label>When is your move date?</label>
            <input name="move_date" id="move_date" type='tel' placeholder="Move Date" />
            <button class="ziphelp_btn zip_position" ng-click="calHelp($event)">Calendar</button>
          </div>
          <div class="input_area">
            <label>How large is your move?</label>
            <input name="move_size" id="move_size" type='tel' placeholder="Move Size" />
          </div>

          <div class="calculate">
            <button type="submit" class="submit">Calculate</button>
          </div>
        </div>
    </form>
    <div class="trusted_partners">
      <a href="#"><div class="sprite infoImg"></div></a>
      <a href="#"><div class="sprite bbbImg"></div></a>
      <a href="#"><div class="sprite nortonImg"></div></a>
      <a href="#"><div class="sprite lockImg"></div>
      <div class="privacy_policy"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></div>
    </div>
  </div>

  <div class="country_map"></div>
</section>
