<section id="slide3">
 <h2>Next our system will display your ballpark estimate</h2>
 <h3>Please complete this final step accurately.  Movers will contact you by phone or email with their quotes and our system will also display your ballpark estimate.</h3>
  <div class="form_main left">

      <form>
      <div class="box basic"></div>
       <div class="step">
         <div class="input_area">
            <label>Full Name</label>
            <input id="first_name" class="name space" type='tel' placeholder="First" />
            <input id="last_name" class="name" type='tel' placeholder="Last" />
          </div>

          <div class="input_area">
            <label>Valid Email</label>
            <input id="email" type='tel' placeholder="Your email address" />
          </div>
          <div class="input_area">
            <label>Valid Phone</label>
            <input id="phone" type='tel' placeholder="(  )  -    " />
          </div>

          <div class="calculate">
            <button ng-click="next('/')" class="submit">Calculate</button>
          </div>
        </div>
    </form>
    <div class="trusted_partners">
      <a href="#"><div class="sprite infoImg"></div></a>
      <a href="#"><div class="sprite bbbImg"></div></a>
      <a href="#"><div class="sprite nortonImg"></div></a>
      <a href="#"><div class="sprite lockImg"></div>
      <div class="privacy_policy"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></div>
    </div>
  </div>

  <div class="google_map"></div>
</section>
