<section id="thankyou">
	<h2>Thank You {{ first_name + " " + last_name }}.</h2>
	<h3>Professional movers will now contact you</h3>
	<div class="quote-range">
		{{ showPrice() }}
		<div ng-show="loaded">
			<p>Your quote range is: <span>{{ prices }}</span></p>
		</div>
		<div ng-show="!loaded">
			<p>Your quote range is: <img src="images/ajax-loader_r1.gif" /></p>
		</div>
	</div>
	<div class="etcetera">
		<p>This price range is not an actual quote and is based on industry averages. 1 bedroom apartment shipments can vary in size. You may need additional services like packing. Tariff pricing is different for each moving company.</p>
	</div>
	<div class="sitback">
		<div class="nostress left">
			<div class="nostress-dude left"></div>
			<h4>TAKING THE STRESS OUT OF MOVING</h4>
			<div class="clear">
				<p>The search for your movers is done.  You don't need to fill out any other forms, just sit back, relax and multiple movers will be in touch with you to give you competing quotes for your specific move.</p>
			</div>
		</div>
		<div class="onway right">
			<div class="onway-cell left"></div>
			<h4>YOUR QUOTES ARE ON THEIR WAY</h4>
			<div class="clear">
				<p>Your ballpark estimates will be sent to your email and your movers will soon contact you by phone.  Be ready to speak with your movers regarding your inventory to receive a more accurate quote.</p>
			</div>
		</div>
	</div>
</section>