<section id="thankyou">
	<h2>Thank You {{ first_name + " " + last_name }}.</h2>
	<h3>Professional movers will now contact you</h3>
	<div class="quote-range">
		<p>Your quote range is: <span>{{ "$"+ price1 + " to " + "$" + price2 }}</span></p>
	</div>
	<div>
		<p>This price range is not an actual quote and is based on industry averages. 1 bedroom apartment shipments can vary in size. You may need additional services like packing. Tariff pricing is different for each moving company.</p>
	</div>
	<div>
		<div>
		<h4>TAKING THE STRESS OUT OF MOVING</h4>
		<p>The search for your movers is done.  You don't need to fill out any other forms, just sit back, relax and multiple movers will be in touch with you to give you competing quotes for your specific move.</p>
		</div>
		<div>
		<h4>YOUR QUOTES ARE ON THEIR WAY</h4>
		<p>Your ballpark estimates will be sent to your email and your movers will soon contact you by phone.  Be ready to speak with your movers regarding your inventory to receive a more accurate quote.</p>
		</div>
	</div>
</section>